.wavingHand{
  font-size: 28px;
  animation: 0.5s ease 0s 3 normal forwards running wave;
}

@keyframes wave {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}